head
  meta(charset='utf-8')
  title MASCOTAS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | MASCOTAS
          // Modal Body
          .modal-body
            table
              tr
                th ID
                th Nombre
                th Edad
                th Animal
                th Raza
                th Descripcion
              each val in rows 
                tr
                  td= val.pid
                  td= val.pet_name
                  td= val.age
                  td= val.ttype
                  td= val.breed 
                  td= val.type_description
            
          // Modal Footer
          .modal-footer
